{% load url from future %}
{% load render_table from django_tables2 %}

<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>



<form id="hpcForm" action="{% url 'tardis.apps.mytardis_hpc_app.views.index' experiment_id %}"  method="post">{% csrf_token %}
    {{ form.as_p}}
    <input  type="submit" value="Submit" id="id_submit" />
</form>
{% render_table computation_status %}

<!-- successful form submission notification dialog -->
<div class="modal" id="success_notification">
    <h2>HPC computation</h2>
    <p>
        Submitted Successfully..
    </p>
    <p>
        <button class="close"> Close </button>
    </p>
</div>


<style>
    .modal {
        background-color:#fff;
        display:none;
        width:350px;
        padding:15px;
        text-align:left;
        border:2px solid #333;

        opacity:0.8;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        -moz-box-shadow: 0 0 50px #ccc;
        -webkit-box-shadow: 0 0 50px #ccc;
    }
</style>


<style>
    div.hidden_message{
        display:none
    }
</style>

<div id="dialog-model" title="HPC Computation " class='hidden_message'>
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
      Successful submission
    </p>
   
</div>


<script>
    default_group_id = "ID0000"
    default_number_of_cores = "1"

   // $("#hpcForm").validate();

    $(document).ready(function(){
        if (!$(':checkbox').is(':checked')){
            $("#id_number_of_cores").val(default_number_of_cores)
            $("#id_group_id").val(default_group_id)
            $("#id_number_of_cores").prop("readonly",true)
            $("#id_group_id").prop("readonly",true)
        }
        else{
            if ($('#id_stages_0').is(':checked'))
                $("#id_number_of_cores").prop("readonly",false);
            else
                $("#id_number_of_cores").prop("readonly",true);

            if ($(':checkbox').is(':checked')
                    && !($('#id_stages_0').is(':checked')))
                $("#id_group_id").prop("readonly",false)
            else
                $("#id_group_id").prop("readonly",true)
        }
    });

     $(':checkbox').click(function () {
        if ($('#id_stages_0').is(':checked')) {
            number_of_cores_activate()
            group_id_deactivate()
        }
        else
            number_of_cores_deactivate()

        if ($('#id_stages_1').is(':checked')
                || $('#id_stages_2').is(':checked')
                || $('#id_stages_3').is(':checked')) {
            if(!($('#id_stages_0').is(':checked')))
                group_id_activate()
            else
                group_id_deactivate()
        }
        else{
            if ((!$(':checkbox').is(':checked'))
                    || $('#id_stages_0').is(':checked'))
                group_id_deactivate()
        }
    });

    $('#hpcForm').submit(function(event){
        if (!validateForm())
            return false;

        post_vars = $(this).serialize()
       // alert(post_vars)
        action = $("#hpcForm").attr('action');

        $.ajax({
            'async': false,
            'global': true,
            type: "POST",
            url: action,
            data: post_vars,
            success: $("#dialog-model" ).dialog({
                modal: true,
                buttons: {
                    Ok: function() {
                        $( this ).dialog( "close" );
                    }
                }
            }),
            error: function(data) { alert(data.responseText || 'An error has occurred'); }
        });
        load_default_form_settings()
        return false
    });

    function number_of_cores_activate(){
        $("#id_number_of_cores").prop("readonly",false)
        if ($("#id_number_of_cores").val() == default_number_of_cores){
            $("#id_number_of_cores").val("")
        }
    }

    function number_of_cores_deactivate(){
        $("#id_number_of_cores").prop("readonly",true)
        $("#id_number_of_cores").val(default_number_of_cores);
    }

    function group_id_activate(){
        $("#id_group_id").prop("readonly",false)
        if ($("#id_group_id").val() == default_group_id)
            $("#id_group_id").val("")
    }

    function group_id_deactivate(){
        $("#id_group_id").prop("readonly",true)
        $("#id_group_id").val(default_group_id)
    }

    function validateForm(){
        group_id = $("#id_group_id").val();
        destination = $("#id_destination").val();
        hpc_app = $("#id_hpc_apps").val();
        number_of_cores = $("#id_number_of_cores").val();
        error_message = "";

        if(hpc_app.length == 0)
            error_message+= "Select an HPC app\n";

        if(destination.length == 0)
            error_message+= "Select a destination\n";

        if (!$(':checkbox').is(':checked'))
            error_message+= "Select a stage\n";

        if (number_of_cores != parseInt(number_of_cores)
                || parseInt(number_of_cores) < 1)
            error_message+= "Enter number of cores (1 or more)\n"

        if((group_id.split(" ").length-1) == group_id.length
            || group_id.length == 0)
            error_message+= "Enter Group ID\n";

        if(error_message.length != 0){
            alert(error_message);
            return false;
        }
        return true
    }

    function load_default_form_settings(){
        $("#id_number_of_cores").val(default_number_of_cores)
        $("#id_group_id").val(default_group_id)
        $("#id_number_of_cores").prop("readonly",true)
        $("#id_group_id").prop("readonly",true)

        $(':checked').each(function(){
            this.checked = false;
        });
        $("#id_destination")[0].selectedIndex = 0
        $("#id_hpc_apps")[0].selectedIndex = 0
    }

</script>





